.table{
    font-family: inherit;
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.filter {
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(128, 128, 128);
    max-width: 315px;
    display: block;
    margin-left: 640px;
    margin-top: 27px;

}