.btnjob_order {
    margin-left: 25px;
    margin-right: 25px;
    height: 50px;
    width: 130px;
    color: white;
    padding-bottom: 53px;
    &:hover {
        opacity: 0.7;
    }
    &:active {
        opacity: 1;
    }
}

.text-h6{
    display: block;
    margin: auto;
    margin-left:27px;
    margin-top: 10px;
}
.create_icon {
    display: block;
    margin: auto;
    margin-right: 200px;
    border-radius: 15px;
    border: solid;
}
.sub{
    max-width: 400px;
    margin:auto;
}
.pencil {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 110px;
}
.category {
    font-family: inherit;
    height: 54px;
    margin-left: 30px;
    padding: none;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 38px;
    
}
.text-center {
    padding-right: 19px;
    font-size: 15px;
    color: white
}
.department {
    height: 54px;
    padding: none;
    margin-bottom: 20px;
}
.description {
    margin-left: 38px;
    max-width: 84%;
    padding-left: 15px;
    padding-right: 10px;
    box-shadow: 1px 1px 5px rgb(122, 122, 122);
}
.txtAttachment {
    display: block;
    font-family: inherit;
    font-size: 15px;
    color: rgb(102, 101, 101);
    margin-left: 50px;
    margin-top: 20px;
}
.attachment {
    display: inline-block;
    vertical-align: top;
    font-family: inherit;
    font-size: 15px;
    max-width: 230px;
    max-height: 50px;
    margin-left: 35px;  
    margin-top: none;
    margin-bottom: 50px;
}
.Priority {
    margin-left: 23px;
    height: 55px;
}
.txtpriority {
    font-size: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.tasklist_tbl {
    font-family: inherit;
    display: block;
    padding: 10px;
    margin-top: 40px;
    margin-left: 1px;
    width: 99%;
}
.check1 {
    margin-top: 15px;
}
.q-table td, .q-table th {
    /* don't shorten cell contents */
    white-space: normal !important;
}

