.EmpManagement_tbl {
    margin-top: 20px;
}
.text-h6 {
    margin-left: 170px;
    line-height: 15px;
}
.create_icon  {
    margin-left: 200px;
    margin-top: 22px;
    margin-bottom: none;
}
.name, .username, .dept, .user_roles, .pass, .cpass{
    max-width: 83%;
    margin: auto;
}

.dept,.user_roles, .pass, .cpass {
    margin-bottom: 20px;
}
